html, body {
    width: 1920px; margin: 0 auto;
    background-color: #262626;
}
/* -------------------------------------header */
header {
    background-color: #262626;
    position: relative;
    width: 100%; height: 80px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    /* padding-bottom: 26px; */
    align-items: end;
    padding: 0 46px 26px 46px;
}
header h1 {}
header h1 a {}
header h1 a img {}
header .right {
    width: 200px;
    text-align: right;
    margin-right: 16px;
}
header.right a:nth-child(2) {
    border-left: 1px solid #777777;
    border-right: 1px solid #777777;
}
header .right a:last-child {padding-right: 0;}
header .right a {
    font-weight: 300;
    padding: 0 16px;
}
header .sub_bg {
    /* display: none; */
    position: absolute;
    z-index: 9;
    background-color: #262626;
    width: 100%;
    height: 260px;
    top: 60px;
    left: 0;
    /* border: 0.5px solid blanchedalmond; */
}
header nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;}
header nav .gnb {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    position: relative;
}
header nav .gnb li {
    margin-right: 72px;}
header nav .gnb li a {font-weight: 300; color: #fff;}
header nav .gnb > li:nth-child(2) > a {
    font-weight: 400; color: #e4cda8;
}
header nav .gnb li .lnb {
    /* display: none; */
    position: absolute;
    top: 30px;
    z-index: 10;
}
header nav .gnb li .lnb li {
    margin-bottom: 16px;
}
header nav .gnb li .lnb li a {
    color: #fff;
    transition: 0.3s;
}
header nav .gnb li .lnb li a:hover {color: #e4cda8;}
/* ----------------------------------------main */
main {}
main .bg {
    width: 1440px; margin: 0 auto;
}
main .bg h3 {
    color: #fff; font-size: 1.25em;
    font-weight: 300;
    margin: 16px 0;
}
main .bg .price {
    color: #C1B198; font-size: 1em;
    font-weight: 300;
}
.active {
    font-weight: 500 !important; color: #C1B198 !important;
    border-bottom: 1px solid #C1B198;
}
/* ----------------------------------------bg1 */
main {}
main .bg1 {width: 100%;}
main .bg1 a {}
main .bg1 a img {}
/* ----------------------------------------bg2 */
main {}
main .bg2 {}
main .bg2 .sub_nav {
    padding: 40px 0;
    width: 490px; 
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
main .bg2 .sub_nav a:hover {color: #C1B198;}
main .bg2 .sub_nav a {
    color: #fff;
    transition: 0.3s;
    padding: 6px 2px;
}
/* ----------------------------------------bg3 */
main {}
main .bg3 {}
main .bg3 h2 {
    padding-top: 40px;
    margin-bottom: 30px;
    font-family: 'Scheherazade New', serif;
    font-size: 2.25em;
    text-align: center;
}
main .bg3 .best_lifestyle {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-bottom: 100px;
}
main .bg3 .best_lifestyle a {
    /* width: 258px; */
    display: inline-block;
}
main .bg3 .best_lifestyle a p:first-child {
    width: 258px; height: 258px; overflow: hidden; position: relative;
}
main .bg3 .best_lifestyle a p {}
main .bg3 .best_lifestyle a p img {
    width: 258px; transition: 0.4s;
    position: absolute; 
    top: 0; left: 0;
}
main .bg3 .best_lifestyle a p img:hover {
    width: 290px;
    top: -20px; left: -15px;
}
main .bg3 .best_lifestyle a h3 {}
main .bg3 .best_lifestyle a .price {}
/* ----------------------------------------bg4 */
main {}
main .bg4 {}
main .bg4 .tab {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 6px;
    border-bottom: 0.2px solid #d1d1d1;
    margin-bottom: 70px;
}
main .bg4 .tab .howMany {
    width: 96px; display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
main .bg4 .tab .howMany p {font-weight: 100;}
main .bg4 .tab .howMany p img {}
main .bg4 .tab .listSequence {
}
main .bg4 .tab .listSequence a:last-child {
    border-right: 0;
    padding-right: 0;
}
main .bg4 .tab .listSequence a:hover {color: #C1B198;}
main .bg4 .tab .listSequence a {
    font-weight: 200;
    padding: 0 20px;
    border-right: 1px solid #777777;
    border-bottom: 0;
    transition: 0.3s;
}
main .bg4 .list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 170px;
}
main .bg4 .list a {
    display: inline-block;
    margin-bottom: 40px;
}
main .bg4 .list a p {}
main .bg4 .list a p img {}
main .bg4 .list a h3 {}
main .bg4 .list a .price {}
main .bg4 .pageNum {
    margin: 0 auto;
    padding-bottom: 175px;
    width: 82px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
main .bg4 .pageNum a:first-child {}
main .bg4 .pageNum a:hover {color: #C1B198;}
main .bg4 .pageNum a {
    padding: 4px 5px; font-size: 1em; font-weight: 300;
    transition: 0.4s;
}
/* ----------------------------------------footer */
footer {
    background-color: #D9D9D9;
    width: 100%;
}
footer .bg7 {
    width: 1220px;
    margin: 0 auto;
    padding-top: 90px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-bottom: 94px;
}
footer .bg7 a,
footer .bg7 p {color: #000 ;}
footer .bg7 .left {}
footer .bg7 .left h2 {}
footer .bg7 .left h2 img {}
footer .bg7 .left p {
    margin-top: 35px;
    font-size: 0.875em;
    line-height: 2;
}
footer .bg7 .right {}
footer .bg7 .right ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
footer .bg7 .right ul li {
    margin-left: 16px;
}
footer .bg7 .right ul li a {}
footer .bg7 .right > p  {
    margin-top: 110px;
    float: right;
}